@page "/bankbook/account/add"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using System.ComponentModel.DataAnnotations
@layout Layouts.BankBookLayout

@inject NavigationManager navManager;
@inject NavBreadcrumbService navBreadcrumb;
@inject IAccountService AccountService;

<PageTitle>BankBook / Add Account</PageTitle>

<Row>
    <Column>
        <Card Style="max-width: 800px;margin: 0 auto;">
            <CardHeader>
                <CardTitle>Add new Account</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" Model="@newAccount">
                    <Validation>
                        <Field>
                            <FieldLabel RequiredIndicator>Account Code</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="CC" @bind-Text="newAccount!.Code">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel RequiredIndicator>Account Name</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="Account name" @bind-Text="newAccount!.Name">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel >Bank</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="My bank" @bind-Text="newAccount!.Bank">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel >Account Description</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="My account" @bind-Text="newAccount!.Description">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel >Account IBAN</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="FR76 ..." @bind-Text="newAccount!.IBAN">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel >BIC/SWIFT</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="AFRIFRPP" @bind-Text="newAccount!.Swift">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>Website</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="https://" @bind-Text="newAccount!.Url">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Validations>
                <Div>
                    @if (errorMessage != string.Empty)
                    {
                        <Paragraph TextColor="TextColor.Danger">@errorMessage</Paragraph>
                    }
                    else
                    {
                        <Paragraph>The category code must be unique</Paragraph>
                    }
                </Div>
                <Div TextAlignment="TextAlignment.End">
                    <Button Color="Color.Secondary" Clicked="@(() => navManager.NavigateTo("bankbook/account"))">Cancel</Button>
                    <Button Color="Color.Primary" Clicked="AddAccount">Add Account</Button>
                </Div>
            </CardBody>
        </Card>
    </Column>
</Row>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    Validations? validations;
    Account? newAccount = new ();

    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Accounts", Link = "bankbook/account"},
            new Node {Text = "Add", Active = true}
        });

        await base.OnInitializedAsync();
    }

    private async Task AddAccount()
    {
        if (await validations!.ValidateAll())
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

            var success = await AccountService.AddAccountAsync(currentUserId, newAccount!);
            if (success == true)
                navManager.NavigateTo("bankbook/account");  // navigate to bankbook/bank
            else
                errorMessage = $"The account code {newAccount!.Code} already exists, the account code must be unique";
        }
    }
}