@page "/bankbook/account/edit/{AccountId:guid}"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using System.ComponentModel.DataAnnotations
@layout Layouts.BankBookLayout

@inject NavigationManager navManager
@inject NavBreadcrumbService navBreadcrumb
@inject IAccountService AccountService

<PageTitle>BankBook / Edit Account</PageTitle>

<Row>
    <Column>
        <Card Style="max-width: 800px;margin: 0 auto;">
            <CardHeader>
                @if (editAccount is null)
                {
                    <CardTitle>Edit Account</CardTitle>
                }
                else
                {
                    <CardTitle>Edit Account <Strong>@editAccount.Name</Strong></CardTitle>
                }
            </CardHeader>

            <CardBody>
                @if (editAccount is null)
                {
                    <Alert Color="Color.Danger">
                        Account not found.
                    </Alert>
                }
                else
                {
                    <Validations @ref="validations" Mode="ValidationMode.Manual" Model="@editAccount">
                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Account Code</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Code">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Account Name</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Name">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>Bank</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Bank">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>Description</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Description">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>IBAN</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.IBAN">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>BIC / SWIFT</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Swift">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>Website</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editAccount.Url">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                    </Validations>
                    <Div>
                        @if (errorMessage != string.Empty)
                        {
                            <Paragraph TextColor="TextColor.Danger">@errorMessage</Paragraph>
                        }
                        else
                        {
                            <Paragraph>The category code must be unique</Paragraph>
                        }
                    </Div>
                    <Div TextAlignment="TextAlignment.End">
                        <Button Color="Color.Secondary" Clicked="@(() => navManager.NavigateTo("bankbook/account"))">Cancel</Button>
                        <Button Color="Color.Primary" Clicked="SaveAccount">Save changes</Button>
                    </Div>
                }
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    [Parameter]
    public Guid AccountId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private Validations? validations;
    private Account? editAccount;

    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        navBreadcrumb.SetBreadcrumbs(new List<Node>
        {
            new Node { Text = "Accounts", Link = "bankbook/account" },
            new Node { Text = "Edit", Active = true }
        });

        // get current Account
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.First(x => x.Type.EndsWith("nameidentifier")).Value);

        editAccount = await AccountService.GetAccountByIdAsync(currentUserId, AccountId);

        await base.OnInitializedAsync();
    }

    private async Task SaveAccount()
    {
        if (!await validations!.ValidateAll())
            return;

        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.First(x => x.Type.EndsWith("nameidentifier")).Value);

        // update account
        var success = await AccountService.UpdateAccountAsync(currentUserId, editAccount!);

        if (success == true)
            navManager.NavigateTo("bankbook/account");
        else
            errorMessage = $"The account code {editAccount!.Code} already exists, the account code must be unique";
    }
}
