@page "/error/notfound"

<PageTitle>C3P1.net/Error/Not found</PageTitle>

<Div TextAlignment="TextAlignment.Center">
    <Paragraph>
        <Image Source="/pix/error/404.png" Width="Width.Px(300)" Text="Error 404" />
    </Paragraph>
    <Paragraph TextColor="TextColor.Danger">
        There is nothing here!
    </Paragraph>
    <Paragraph>
        <Link Class="btn btn-danger" href="/">Go back</Link>
    </Paragraph>
</Div>