@page "/"
@inject NavBreadcrumbService navBreadcrumb

<PageTitle>C3P1.net/Home</PageTitle>

<Div TextAlignment="TextAlignment.Center">
    <Image Source="pix/icons/bb-8.svg" Width="Width.Px(300)" Margin="Margin.IsAuto" Text="C3P1.Net logo" />
    <Heading Size="HeadingSize.Is3">Welcome on C3P1.net</Heading>
    <Paragraph Padding="Padding.Is1.OnX">
        <Link To="https://www.freebsd.org" Target="Target.Blank">
        <Image Source="pix/icons/freebsd.svg" Height="Height.Px(50)" Text="FreeBSD logo" />
        </Link>
        <Link To="https://bhyve.org" Target="Target.Blank">
        <Image Source="pix/icons/bhyve.png" Height="Height.Px(50)" Text="BHYVE logo" />
        </Link>
        <Link To="https://opensuse.org" Target="Target.Blank">
            <Image Source="pix/icons/opensuse.svg" Height="Height.Px(50)" Text="OpenSUSE logo" />
        </Link>
        <Link To="https://dotnet.microsoft.com" Target="Target.Blank">
            <Image Source="pix/icons/net.svg" Height="Height.Px(50)" Text=".Net logo" />
        </Link>
        <Link To="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" Target="Target.Blank">
            <Image Source="pix/icons/blazor.svg" Height="Height.Px(50)" Text="Blazor logo" />
        </Link>
        <Link To="https://learn.microsoft.com/en-us/dotnet/csharp">
            <Image Source="pix/icons/csharp.svg" Height="Height.Px(50)" Text="C# logo" />
        </Link>
        <Link To="https://www.blazorise.com" Target="Target.Blank">
            <Image Source="pix/icons/blazorise.svg" Height="Height.Px(50)" Text="Blazorise logo" />
        </Link>
    </Paragraph>
</Div>

@code{
    protected override void OnInitialized()
    {
        // set navbreadcrumb
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Home", Link = "", Active = true}
        });

        base.OnInitialized();
    }
}