@inject IAppConfigService AppConfig

<!DOCTYPE html>

<html lang="en" data-bs-theme="@AppConfig.GetThemeModeAsync().Result">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <!-- Local ref ------->
        <link rel="stylesheet" href="app.css" />
        <link rel="stylesheet" href="C3P1.Net.styles.css" />
        <link rel="icon" type="image/png" href="favicon.ico" />
        <!-- Bootstrap5 ref -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- Blazorise ref --->
        <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
        <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
        <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet" />
        <HeadOutlet />
    </head>

    <body>
        <Routes />
        <!-- Blazorise extensions -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        <!-- Local ref ------------->
        <script src="js/ui.js"></script>
        <!-- Blazor ---------------->
        <script src="_framework/blazor.web.js"></script>
    </body>

</html>