html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-layout {
    margin-bottom: 20px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: white; /* make breadcrumb white */
}

.breadcrumb-overflow {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    .barbrand-overflow::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

/* Responsives design rules for main content div */
@media only screen and (min-width:1500px) {
    .main-layout {
        margin-left: auto;
        margin-right: auto;
        max-width: 1270px;
        min-width: 1270px;
    }
}
