html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-layout {
    margin-bottom: 20px;
}

/* Responsives design rules for main content div */
@media only screen and (min-width:1500px) {
    .main-layout {
        margin-left: auto;
        margin-right: auto;
        max-width: 1270px;
        min-width: 1270px;
    }
}