<Div Class="d-flex justify-content-center align-items-center vh-100">
    <Div Class="d-block">
            <SpinKit Color="slateblue" Type="SpinKitType.Grid" Size="150px" />
    </Div>
</Div>

<PageTitle>Loading ...</PageTitle>

@code{

}