@page "/misc/theme"

<h3>Theme</h3>

<Div>
    <Div>Buttons</Div>
    <Div>
        <Button Color="Color.Primary">Primary</Button>
    </Div>
    <Div>
        <Button Color="Color.Secondary">Secondary</Button>
    </Div>
    <Div>
        <Button Color="Color.Danger">Danger</Button>
    </Div>
    <Div>
        <Button Color="Color.Warning">Warning</Button>
    </Div>
    <Div>
        <Button Color="Color.Info">Info</Button>
    </Div>
    <Div>
        <Button Color="Color.Default">Default</Button>
    </Div>
    <Div>
        <Button Color="Color.Link">Link</Button>
    </Div>
    <Div>
        <Button Color="Color.Success">Success</Button>
    </Div>
    <Div>
        <Button Color="Color.Light">Light</Button>
    </Div>
    <Div>
        <Button Color="Color.Dark">Dark</Button>
    </Div>
</Div>

@code {

}
