@page "/"

<PageTitle>C3P1.Net</PageTitle>

<Div TextAlignment="TextAlignment.Center">
    <h3>Welcome on C3P1.Net</h3>
    <Image Class="main-logo" Source="/pix/c3p1.png" />
    <Paragraph>
        <Link Class="btn btn-primary" href="/misc/theme">View active theme</Link>
        <Link Class="btn btn-primary" href="/misc/counter">Test Blazor with Counter</Link>
    </Paragraph>
    <Paragraph>
        c3p1.net runs OpenSUSE Leap 15.3
    </Paragraph>
</Div>
@code{
}