@page "/photo"

<PageTitle>C3P1.Net Photo</PageTitle>

<div class="text-center">
    <h3>Our photo galleries</h3>

    <img class="main-logo" src="pix/icons/photo.png" />

    <p>Our galleries are hosted on c3p1.net and are powered by <a href="https://piwigo.org/">Piwigo</a></p>

    <a href="https://pix.c3p1.net" class="btn btn-primary">C3P1 Pix</a>
    <a href="https://fuji.c3p1.net" class="btn btn-primary">Fuji Photo</a>
</div>