@page "/"

@inject IAppConfigService AppConfig;

<PageTitle>C3P1.Net/Home</PageTitle>

<Div TextAlignment="TextAlignment.Center">
    <Image Source="pix/bb-8.svg" Width="Width.Px(300)" Margin="Margin.IsAuto" Text="C3P1.Net logo" />
    <Heading Size="HeadingSize.Is3">Welcolme on C3P1.Net</Heading>
    <Paragraph Padding="Padding.Is1.OnX">
        <a href="https://www.opensuse.org/">
            <Image Source="pix/icons/opensuse.svg" Height="Height.Px(50)" Text="OpenSuse logo"/>
        </a>
        <Image Source="/pix/icons/csharp.svg" Height="Height.Px(50)" Text="C# logo" />
        <a href="https://dotnet.microsoft.com/">
            <Image Source="pix/icons/net.svg" Height="Height.Px(50)" Text=".Net logo" />
        </a>
        <Image Source="pix/icons/blazor.svg" Height="Height.Px(50)" Text="Blazor logo" />
    </Paragraph>
</Div>

@code {
}