@page "/"

<PageTitle>C3P1.Net</PageTitle>

<Div TextAlignment="TextAlignment.Center">
    <Image Class="main-logo" Source="/pix/c3p1.png" />
    <Lead TextWeight="TextWeight.Normal">Welcome on C3P1.Net</Lead>
    <Paragraph>
        It runs OpenSUSE Tumbleweed / .Net 8.0 with Blazorise
    </Paragraph>
</Div>

@code {

}