<Div TextAlignment="TextAlignment.Center">
    <Image Source="/pix/error/404.png" Class="main-logo" />
    <Paragraph TextColor="TextColor.Danger">
        There is nothing here!
    </Paragraph>
    <Paragraph>
        <Link Class="btn btn-danger" href="/">Go back</Link>
    </Paragraph>
</Div>