@page "/bankbook/category/add"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using System.ComponentModel.DataAnnotations
@layout Layouts.BankBookLayout

@inject NavigationManager navManager;
@inject NavBreadcrumbService navBreadcrumb;
@inject ICategoryService CategoryService;

<PageTitle>BankBook / Add Category</PageTitle>

<Row>
    <Column>
        <Card Style="max-width: 800px;margin: 0 auto;">
            <CardHeader>
                <CardTitle>Add new Category</CardTitle>
            </CardHeader>
            <CardBody>
                <Validations @ref="validations" Mode="ValidationMode.Manual" Model="@newCategory">
                    <Validation>
                        <Field>
                            <FieldLabel RequiredIndicator>Category Code</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="CAT" @bind-Text="newCategory!.Code">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel RequiredIndicator>Category Name</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="Category name" @bind-Text="newCategory!.Name">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation>
                        <Field>
                            <FieldLabel>Category Description</FieldLabel>
                            <FieldBody>
                                <TextInput Placeholder="Description" @bind-Text="newCategory!.Description">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextInput>
                            </FieldBody>
                        </Field>
                    </Validation>
                </Validations>
                <Div>
                    @if (errorMessage != string.Empty)
                    {
                        <Paragraph TextColor="TextColor.Danger">@errorMessage</Paragraph>
                    }
                    else
                    {
                        <Paragraph>The category code must be unique</Paragraph>
                    }
                </Div>
                <Div TextAlignment="TextAlignment.End">
                    <Button Color="Color.Secondary" Clicked="@(() => navManager.NavigateTo("bankbook/category?tab=categories"))">Cancel</Button>
                    <Button Color="Color.Primary" Clicked="AddCategory">Add Category</Button>
                </Div>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private Validations? validations;
    private Category? newCategory = new ();

    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Category", Link = "bankbook/category?tab=categories"},
            new Node {Text = "Add", Active = true}
        });

        await base.OnInitializedAsync();
    }

    private async Task AddCategory()
    {
        if (await validations!.ValidateAll())
        {
            // get user id
            var user = (await authenticationStateTask).User;
            var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);


            var success = await CategoryService.AddCategoryAsync(currentUserId, newCategory!);
            if (success == true)
                navManager.NavigateTo("bankbook/category?tab=categories"); // navigate to bankbook/category
            else
                errorMessage = $"The category code {newCategory!.Code} already exists, the category code must be unique";
        }
    }
}
