@page "/bankbook/category/edit/{CategoryId:guid}"
@using C3P1.Net.Shared.Data.Apps.BankBook
@using C3P1.Net.Shared.Services.Apps.BankBook
@using System.ComponentModel.DataAnnotations
@layout Layouts.BankBookLayout

@inject NavigationManager navManager;
@inject NavBreadcrumbService navBreadcrumb;
@inject ICategoryService CategoryService;

<PageTitle>BankBook / Edit Category</PageTitle>

<Row>
    <Column>
        <Card Style="max-width: 800px;margin: 0 auto;">
            <CardHeader>
                @if (editCategory is null)
                {
                    <CardTitle>Edit Category</CardTitle>
                }
                else
                {
                    <CardTitle>Edit Category <Strong>@editCategory.Code</Strong></CardTitle>
                }
            </CardHeader>
            <CardBody>
                @if (editCategory is null)
                {
                    <Paragraph><em>SubCategory not found</em></Paragraph>
                }
                else
                {
                    <Validations @ref="validations" Mode="ValidationMode.Manual" Model="@editCategory">
                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Category Code</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editCategory.Code">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel RequiredIndicator>Category Name</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editCategory.Name">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>

                        <Validation>
                            <Field>
                                <FieldLabel>Category Description</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="editCategory.Description">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                    </Validations>
                    <Div>
                        @if (errorMessage != string.Empty)
                        {
                            <Paragraph TextColor="TextColor.Danger">@errorMessage</Paragraph>
                        }
                        else
                        {
                            <Paragraph>The category code must be unique</Paragraph>
                        }
                    </Div>
                    <Div TextAlignment="TextAlignment.End">
                        <Button Color="Color.Secondary" Clicked="@(() => navManager.NavigateTo("bankbook/category?tab=categories"))">Cancel</Button>
                        <Button Color="Color.Primary" Clicked="SaveCategory">Save changes</Button>
                    </Div>
                }
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    [Parameter]
    public Guid CategoryId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    private Validations? validations;
    private Category? editCategory = new();
    private string errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // NavState (breadcrumbs, etc) is Scoped, so it lives as long as our connection lives.
        // So when a new page is visited, we need to clear navigation to prevent breadcrumbs from bleed-over, etc.
        // This also makes the navbar invisible by default.
        navBreadcrumb.SetBreadcrumbs(new List<Node>()
        {
            new Node {Text = "Category", Link = "bankbook/category?tab=categories"},
            new Node {Text = "Edit", Active = true}
        });

        // get current Category
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        editCategory = await CategoryService.GetCategoryByIdAsync(currentUserId, CategoryId);

        await base.OnInitializedAsync();
    }

    private async Task SaveCategory()
    {
        // reinit error message
        errorMessage = string.Empty;

        if (!await validations!.ValidateAll())
            return;

        // get user id
        var user = (await authenticationStateTask).User;
        var currentUserId = Guid.Parse(user.Claims.Where(x => x.Type.EndsWith("nameidentifier")).First().Value);

        // update category
        var success = await CategoryService.UpdateCategoryAsync(currentUserId, editCategory!);

        if (success)
            navManager.NavigateTo("bankbook/category?tab=categories");
        else // set error message
            errorMessage = $"The category code {editCategory!.Code} already exists, the category code must be unique";

    }
}
